body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

section {
    height: 650px;
    padding-bottom: 100px;
}

h1 {
    font-size: 50px;
}

.colour-orange {
    color: orange;
}

.flexible-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 85%;
    padding-top: 40px;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;

}

.top-banar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#padding-right {
    padding-right: 100px;
}

.experiences-iteam {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;



}

#full-stack-developer {
    border-left: 7px solid tomato;

}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}